html, body {
    height: 100%;
    margin: 0;    
    font-family: 'Open Sans';
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: 'Press Start 2P';
    text-align: center;
}

header, footer {
    background: black;    
}

footer a,
header h1 {
    color: white;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    text-align: center;
    height: 5vh;
}

a {
    text-decoration: none;
}

canvas {
    display: none;
}

.invisible {
    visibility: hidden;
}

#upload-container,
.pixel-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-swatches {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
}

.color-swatch-container {
    display: flex;
    align-items: center;
    width: 10vw;
}

.color-swatch {
    display: inline-block;
    border: solid;
    margin: 0.5rem 0.25rem 0.5rem 1rem;
    width: 2rem;
    height: 2rem;
}

.color-swatch-label {
}

#upload-container img {    
    width: auto;
    height: auto;
    max-width: 75vh;
    max-height: 45vh;
    background-size: contain;
    margin: 1rem;
}

@media screen and (max-width: 600px) {
    .color-swatch-container {
        width: 30vw;
    }

    .color-swatches {
        margin-left: 0;
    }
}