h1, h2 {
    font-family: 'Press Start 2P';
}

.color-swatches {
    display: flex;
    flex-wrap: wrap;
}

.color-swatch-container {
    display: flex;
    align-items: center;
    width: 10vw;
}

.color-swatch {
    display: inline-block;
    border: solid;
    margin: 0.5rem 0.25rem 0.5rem 1rem;
    width: 2rem;
    height: 2rem;
}

.color-swatch-label {
}

@media screen and (max-width:600px) {
    .color-swatch-container {
        width: 25wv;
    }
}